
.main-content{
    padding-top: 160px;
    background-color: transparent!important;
    position: relative;
  }

.logo-main {
  padding-bottom: 24px;
  float:left;
}
  .logo__icon {
    height: 2rem;
    margin-left: 1rem;
  }

  body{
    background-color: transparent!important;
  }

  h1{
    color:#858585;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 4.2em;
    padding-bottom: 0.5em;
  }

  .header {
    padding-bottom: 3px;
  }

  #title{
    display: inline-block;
    font-size: 2.8em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-bottom: 0.5em;
    color:#a1a1a1;
    margin-left:9.7em;
    text-transform: uppercase;
    letter-spacing: 0.09em;
  }
  #sub-title {
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color:#adadad;
  }
  .pixabayLogo{
    width: 110px;
  }

  .logo{
    padding-bottom: 24px;
    text-align: center;
    float:right;
  }

  #attribution{
    display: block;
    padding-bottom: 8px;
    color:#858585;
  }

  @media (min-width: 0) and (max-width: 549px) {
    #title{
      display: inline-block;
      margin-left:2.2em;
      font-size:2.1em;

    }
    .pixabayLogo{
      width: 70px;
    }

    .logo{
      padding-bottom: 10px;
      position: absolute;
      right:0;
      margin-top:-175px;
    }

    #attribution{
    font-size:0.65em;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px){
    #title{
      display: inline-block;
      margin-left:7.8em;
    }
  }